:root{
    --mainColor: #15202b;
    --secondaryColor: #192734;

    --borderColor: #164d56;


    --mainText: #ffffff;
    --secondaryText: #eee;

    --themeDotBorder: #ffffff;

    --previewShadow: #111921;
    --previewBg: rgb(25, 39, 52, 0.8);

    --buttonColor: #17a2b8
}

